@model Course.Кредитная_История

@{
    Layout = null;
}

<html>
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <style>
        .inp-form {
            width: 50%;
            margin: 0 auto;
            padding-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Создать заёмщика</h1>

    <div class="inp-form shadow rounded">
        @using (Html.BeginForm())
        {
            <fieldset>
                <legend>Заёмщик</legend>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Количество_Счетов)
                </div>
                <div class="editor-label">
                    @Html.EditorFor(model => model.Количество_Счетов, new { htmlAttributes = new { @class = "form-control" }, })
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Закрытые_Счета)
                </div>
                <div class="editor-label">
                    @Html.EditorFor(model => model.Закрытые_Счета, new { htmlAttributes = new { @class = "form-control" }, })
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Открытые_Счета)
                </div>
                <div class="editor-label">
                    @Html.EditorFor(model => model.Открытые_Счета, new { htmlAttributes = new { @class = "form-control" }, })
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Открыт_Последний)
                </div>
                <div class="editor-label">
                    @Html.EditorFor(model => model.Открыт_Последний, new { htmlAttributes = new { @class = "form-control", @type = "date" }, })
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Открыт_Первый)
                </div>
                <div class="editor-label">
                    @Html.EditorFor(model => model.Открыт_Первый, new { htmlAttributes = new { @class = "form-control", @type = "date" }, })
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Количество_Заявок)
                </div>
                <div class="editor-label">
                    @Html.EditorFor(model => model.Количество_Заявок, new { htmlAttributes = new { @class = "form-control" }, })
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Последний_Запрос)
                </div>
                <div class="editor-label">
                    @Html.EditorFor(model => model.Последний_Запрос, new { htmlAttributes = new { @class = "form-control", @type = "date" }, })
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Отказы_В_Кредите)
                </div>
                <div class="editor-label">
                    @Html.EditorFor(model => model.Отказы_В_Кредите, new { htmlAttributes = new { @class = "form-control" }, })
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Одобренные_Кредиты)
                </div>
                <div class="editor-label">
                    @Html.EditorFor(model => model.Одобренные_Кредиты, new { htmlAttributes = new { @class = "form-control" }, })
                </div>

                <p>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </p>
            </fieldset>
        }
    </div>

    <a href="../History/Show" class="btn btn-info">Назад</a>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>