@model Course.Models.БанкАдрес

@{
    Layout = null;
}

<html>
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <style>
        .inp-form {
            width: 50%;
            margin: 0 auto;
            padding-top: 20px;
        }
    </style>
</head>
<body>

    <div class="inp-form shadow rounded">
        @using (Html.BeginForm())
        {
            <fieldset>
                <legend>Редактировать банк</legend>
                <div class="editor-field">
                    @Html.HiddenFor(model => model.банк.ИД_Банка)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.банк.Название)
                </div>
                <div class="editor-label">
                    @Html.EditorFor(model => model.банк.Название, new { htmlAttributes = new { @onkeyup = "check();", @id = "f1", @class = "form-control" }, })
                </div>

                <button type="button" style="margin-top: 10px;" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                    Добавить адрес
                </button>


                <!-- Модальное окно -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Введите адрес</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.адрес.Город)
                                </div>
                                <div class="editor-label">
                                    @Html.EditorFor(model => model.адрес.Город, new { htmlAttributes = new { @onkeyup = "check();", @id = "f2", @class = "form-control" }, })
                                </div>

                                <div class="editor-label">
                                    @Html.LabelFor(model => model.адрес.Улица)
                                </div>
                                <div class="editor-label">
                                    @Html.EditorFor(model => model.адрес.Улица, new { htmlAttributes = new { @onkeyup = "check();", @id = "f3", @class = "form-control" }, })
                                </div>

                                <div class="editor-label">
                                    @Html.LabelFor(model => model.адрес.Номер_Улицы)
                                </div>
                                <div class="editor-label">
                                    @Html.EditorFor(model => model.адрес.Номер_Улицы, new { htmlAttributes = new { @onkeyup = "check();", @id = "f4", @class = "form-control" }, })
                                </div>

                                <div class="editor-label">
                                    @Html.LabelFor(model => model.адрес.Квартира)
                                </div>
                                <div class="editor-label">
                                    @Html.EditorFor(model => model.адрес.Квартира, new { htmlAttributes = new { @onkeyup = "check();", @id = "f5", @class = "form-control" }, })
                                </div>

                                <div class="editor-label">
                                    @Html.LabelFor(model => model.адрес.Индекс)
                                </div>
                                <div class="editor-label">
                                    @Html.EditorFor(model => model.адрес.Индекс, new { htmlAttributes = new { @onkeyup = "check();", @id = "f6", @class = "form-control" }, })
                                </div>

                            </div>
                            <div class="modal-footer" style="margin-top: 10px;">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ок</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 10px; margin-bottom: 10px;">
                    <button type="submit" disabled id="createButton" value="Update" class="btn btn-primary btn-lg">Создать</button>
                </div>
            </fieldset>
        }
    </div>

    <a href="../Show" class="btn btn-info">Назад</a>

    <script>
        function check() {

            var pole1 = document.getElementById('f1'),
                pole2 = document.getElementById('f2'),
                pole3 = document.getElementById('f3'),
                pole4 = document.getElementById('f4'),
                pole5 = document.getElementById('f5'),
                pole6 = document.getElementById('f6');
            document.getElementById('createButton').disabled = pole1.value && pole2.value && pole3.value && pole4.value && pole5.value && pole6.value ? false : "disabled";
        }
    </script>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
