@model IEnumerable<Кредитный_Договор>

@{
    Layout = null;
}

<html>
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #485e52">
        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="nav nav-pills flex-column flex-sm-row sticky-top justify-content-around">
                <li class="nav-item">
                    <a class="nav-link text-sm-center flex-sm p-3 mb-2 text-white nav-bar-text-user" href="/Home/Index">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-sm-center flex-sm p-3 mb-2 text-white nav-bar-text-user" href="/Borrower/Show">Заёмщики</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-sm-center flex-sm p-3 mb-2 text-white nav-bar-text-user" href="/Bank/Show">Банки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-sm-center flex-sm p-3 mb-2 text-white nav-bar-text-user" href="/Loan/Show">Кредитные договоры</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-sm-center flex-sm p-3 mb-2 text-white nav-bar-text-user" href="/History/Show">Кредитные истории</a>
                </li>
            </ul>
        </div>
    </nav>

    <br />
    <h1 class="text-center">Таблица "Кредитные договоры"</h1>
    <br />

    @using (@Html.BeginForm("Show", "Loan"))
    {
        <div>
            Фильтрация по id договора
            @Html.TextBox("id", "", new { style = "width:70%" })
        </div>
        <input type="submit" class="btn btn-primary" value="Найти" />
        <a href="../Loan/Show" class="btn btn-primary">Показать все</a>
    }

    <br />

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ИД_Договора)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Сумма_Кредита)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Дата_Заключения)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Форм_Кредита)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Процентная_Ставка)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Дата_Погашения)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Произведена_Выплата)
                </th>
                <th>
                    Заёмщик
                </th>
                <th>
                    Банк
                </th>
                <th>

                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <th scope="row">
                    @Html.DisplayFor(modelItem => item.ИД_Договора)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Сумма_Кредита)
                </td>
                <td>
                    @item.Дата_Заключения.Value.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Форм_Кредита)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Процентная_Ставка)
                </td>
                <td>
                    @item.Дата_Погашения.Value.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Произведена_Выплата)
                </td>
                <td>
                    @item.Заёмщик
                </td>
                <td>
                    @item.Банк
                </td>
                <td>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <a href="../Loan/Delete/@item.ИД_Договора" class="btn btn-danger">Удалить</a>
                    }
                </td>
                <td>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <a href="../Loan/Update/@item.ИД_Договора" class="btn btn-warning">Обновить</a>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>

    <a href="../Loan/Create" class="btn btn-info">Добавить</a>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>